{% extends "biblioteca/base.html" %}

{% block title %}
    Categorias | Biblioteca Digital
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">Categorias</h2>
        </div>

        {% if perms.biblioteca.add_categoria %}
            <div class="col-auto ms-auto">
                <a
                    href="{% url 'biblioteca:categoria_criar' %}"
                    class="btn btn-primary"
                >
                    Cadastrar categoria
                </a>
            </div>
        {% endif %}
    </div>
</div>

<div class="card mt-3">
    <div class="table-responsive">
        <table class="table table-vcenter card-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.nome }}</td>

                        <td>
                            <a
                                href="{% url 'biblioteca:categoria_detalhar' categoria.id %}"
                                class="btn btn-sm"
                            >
                                Ver
                            </a>

                            {% if perms.biblioteca.change_categoria %}
                                <a
                                    href="{% url 'biblioteca:categoria_editar' categoria.id %}"
                                    class="btn btn-sm"
                                >
                                    Editar
                                </a>
                            {% endif %}

                            {% if perms.biblioteca.delete_categoria %}
                                <a
                                    href="{% url 'biblioteca:categoria_excluir' categoria.id %}"
                                    class="btn btn-sm btn-danger"
                                >
                                    Excluir
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td
                            colspan="2"
                            class="text-center text-secondary"
                        >
                            Nenhuma categoria cadastrada.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}